.basket {
  padding-left: 40px;
  padding-right: 40px;
  .products {
    display: flex;
    gap: 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .right {
      display: flex;
      gap: 10px;
    }
  }
}