.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-input {
  box-sizing: border-box;
  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-panel {
  display: inline-block;
  max-width: 350px;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}