// @import '@elastic/eui/src/themes/amsterdam/colors_light';
// @import '@elastic/eui/src/themes/amsterdam/_globals.scss';

body, html {
  padding: 0;
  margin: 0;
}

.euiToast {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  width: 300px !important;
}